@model PawtnerPicker.Models.ViewModels.PickBreedViewModel

@{
    ViewData["Title"] = "Pick breed";
}

<h1 class="mb-4">Pick dog breed</h1>
<h1 class="text-danger">@TempData["NoRecommendations"]</h1>
<form action="Pick" method="post">
    <div class="mb-3">
        <label class="form-label">Popularity</label>
        <input type="number" min="1" max="200" step="1" class="form-control" asp-for="Popularity" required>
    </div>
    <div class="mb-3">
        <label class="form-label">Minimum height</label>
        <input type="number" min="10" max="100" step="any" class="form-control" asp-for="MinHeight" required>
        <span class="text-danger" asp-validation-for="MinHeight"></span>
    </div>
    <div class="mb-3">
        <label class="form-label">Maximum height</label>
        <input type="number" min="10" max="100" step="any" class="form-control" asp-for="MaxHeight" required>
        <span class="text-danger" asp-validation-for="MaxHeight"></span>
    </div>
    <div class="mb-3">
        <label class="form-label">Minimum weight</label>
        <input type="number" min="1" max="105" step="any" class="form-control" asp-for="MinWeight" id="MinWeight" required>
        <span class="text-danger" asp-validation-for="MinWeight"></span>
    </div>
    <div class="mb-3">
        <label class="form-label">Maximum weight</label>
        <input type="number" min="1" max="105" step="any" class="form-control" asp-for="MaxWeight" id="MaxWeight" required>
        <span class="text-danger" asp-validation-for="MaxWeight"></span>
    </div>
    <div class="mb-3">
        <label class="form-label">Minimum life expectancy</label>
        <input type="number" min="5" max="20" step="1" class="form-control" asp-for="MinExpectancy" required>
        <span class="text-danger" asp-validation-for="MinExpectancy"></span>
    </div>
    <div class="mb-3">
        <label class="form-label">Maximum life expectancy</label>
        <input type="number" min="5" max="20" step="1" class="form-control" asp-for="MaxExpectancy" required>
        <span class="text-danger" asp-validation-for="MaxExpectancy"></span>
    </div>
    <div class="mb-3">
        <label class="form-label">Grooming frequency</label>
        <input type="number" min="0.2" max="1" step="0.2" class="form-control" asp-for="GroomingFrequencyValue" required>
    </div>
    <div class="mb-3">
        <label class="form-label">Shedding</label>
        <input type="number" min="0.2" max="1" step="0.2" class="form-control" asp-for="SheddingValue" required>
    </div>
    <div class="mb-3">
        <label class="form-label">Energy level</label>
        <input type="number" min="0.2" max="1" step="0.2" class="form-control" asp-for="EnergyLevelValue" required>
    </div>
    <div class="mb-3">
        <label class="form-label">Trainability</label>
        <input type="number" min="0.2" max="1" step="0.2" class="form-control" asp-for="TrainabilityValue" required>
    </div>
    <div class="mb-3">
        <label class="form-label">Demeanor</label>
        <input type="number" min="0.2" max="1" step="0.2" class="form-control" asp-for="DemeanorValue" required>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>