@model PawtnerPicker.Models.ViewModels.LoginViewModel
@{
    ViewBag.Title = "Login";
}


<h2 class="mb-4">SignIn</h2>
<form action = "Login" method="post">
    <div class="mb-3">
        <label class="form-label">Login</label>
        <input type="text" class="form-control" placeholder = "Username" asp-for="Login">
    </div>
        <div class="mb-3">
        <label class="form-label">Password</label>
        <input type="password" class="form-control" autocomplete="off" placeholder = "Password" asp-for="Password">
    </div>
        </div>
        <div class="mb-3">
        <label class="form-label">Remember me</label>
        <input type="checkbox" asp-for="Remember">
    </div>
    <button type="submit" class="btn btn-primary" value="Login" name="value">Login</button>
    <button type="submit" class="btn btn-primary" value="Register" name="value">Register</button>
</form>

