html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.login {
    width: 382px;
    overflow: hidden;
    margin: auto;
    padding: 80px;
    border-radius: 15px;
    border-style: solid;
}

#log {
    width: 200px;
    margin-right: 500px;
    height: 30px;
    border-style: solid;
    border-radius: 17px;
    color: black;
}

#Uname {
    width: 200px;
    height: 30px;
    border-style: solid;
    border-radius: 3px;
    padding-left: 8px;
}

#Pass {
    width: 200px;
    height: 30px;
    border-style: solid;
    border-radius: 3px;
    padding-left: 8px;
}